* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer {
  background:rgb(171, 207, 207);
  height: auto;
  width: 100vw;
  padding-top:30px;
  color: black;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.footer_left {
  padding: 10px;
  flex: 33.33%;
}

.footer_middle {
  padding: 10px;
  flex: 33.33%;
}

.footer_right {
  padding: 10px;
  flex: 33.33%;
  font-size: 15px;
}

.footer-content h3 {
  font-size: 20px;
  text-transform: capitalize;
  line-height: 3rem;
  
}

.footer-content p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 25px;
  font-size: 15px;
}

.social-link {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



.social-link a {
  text-decoration: none;
  color: #383636;
}

.social-link li{
  margin: 0 10px;
}
.social-link a i {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  transition: color 0.4s ease;
}
.social-link a:hover i {
  color: rgb(103, 107, 107);
}
.footer-bottom {
  background: rgb(171, 207, 207);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 15px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  
   
    .footer-content{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    
  }
  

  .footer-bottom{
    display: flex;
    flex-direction: column;
  }
}
