.club_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
 
}

.club_mission,
.club_vision,
.club_goals {
  margin: 1rem;
  padding: 15px;
  flex: 30%;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: azure;
}


.club_Container h3 {
  font-size: 20px;
  text-transform: capitalize;
  line-height: 3rem;
}

.club_Container p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 25px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .club_goals,
  .club_mission,
  .club_vision {
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 3rem;
  }
}
