.container{
    padding: 5rem 0  5rem 0;
    margin:6rem;
    text-align:center;
    /* background: #f9f9ff;
    border-radius: 20px; */
 }

  
  .contact-form{
    max-width:50rem;
    margin:auto;
    
  }
  .contacts{
    font-size: 6rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    color: rgb(0,0,0,0.8);
    text-transform: uppercase;
    word-spacing: 5px;
  
    
  }
  
  .contact-inputs{
    display:flex;
    flex-direction:column;
    gap: 3rem;
 
     
  }
input,textarea{
  font-size: 15px;
  border-radius: 5px;
}

  input[type="submit"]{
    cursor: pointer;
    transition: all 0.2s ;
   border-radius: 10px;
   
    }
    input[type="submit"]:hover{
      transform: scale(0.9);
    }
    
 
label{
font-size: 20px;
display: flex;
flex-direction: row;


}


